@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,400&display=swap');

* {
  font-family: nunito;
}

.active-chat {
  background-image: url(../img/pattern-2.jpg);
  background-position: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

input,
input:focus,
input:active {
  outline: none;
}

.chat-message {
  width: fit-content;
  margin-bottom: 8px;
}

.chat-message:first-of-type {
  margin-top: auto;
}

.outgoing-message {
  align-self: flex-end;
}

.list-user.active {
  border-left: 2px solid #1f2937;
}

/* .messages-container {
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
} */
